<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add product</title>

  <!-- Box Icons  -->
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <!-- Styles  -->
  <link rel="stylesheet" href="/css/adminDashboard.css" />
</head>

<body>
  <%- include('../partials/aside.ejs')%>


    <!-- add prod -->
    <section class="home">
      <div class="container">
        <div class="right">
          <h2 id="j">Add Life Packages</h2>
          <form action="/admin/addLifePackage" method="post" enctype="multipart/form-data">
            <select class="field" name="type">
              <option value="">Type</option>
              <option value="Basic">Basic</option>
              <option value="Standard">Standard</option>
              <option value="Premium">Premium</option>
            </select>
            <input type="text" name="price" class="field" placeholder="Package's Price"/>
            <input type="text" name="Income" class="field" placeholder="Income"/>
            <input type="text" name="Marriage" class="field" placeholder="Marriage"/>
            <input type="text" name="Starting_Career" class="field" placeholder="Starting-Career"/>
            <input type="text" name="Retirement" class="field" placeholder="Retirement"/>
            <input type="text" name="Age" class="field" placeholder="Client Age"/>
            <input type="text" name="Taxes" class="field" placeholder="Highest Taxes"/>
            <!-- <input type="file" name="img" class="field" placeholder="image"> -->
            <select class="field" name="providerId">
              <option value="">provider</option>
              <% providers.forEach((prov, index) => { %>
                <option value="<%=prov.id%>"><%=prov.name%></option>
                <% }) %>
              </select>
            <input type="submit" class="btn" value="ADD">
          </form>

        </div>
      </div>
    </section>

    <!-- Link JS -->
    <script src="/js/adminDashboard.js"></script>

</body>

</html>