<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add provider</title>

  <!-- Box Icons  -->
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <!-- Styles  -->

  <link rel="stylesheet" href="/css/adminDashboard.css" />

</head>

<body>
  <%- include('../partials/aside.ejs')%>


    <!-- ============= Home Section =============== -->
    <section class="home">
      <div class="container">
        <div class="right">
          <h2 id="j">Add Provider</h2>
          <form action="/admin/addproviders" method="post">
            <!-- enctype="multipart/form-data" -->
            <input type="text" name="name" class="field" placeholder="Provider Name" />
            <!-- File input for the provider logo -->
            <label for="logo" class="file-label">Choose Provider Logo:</label>
            <input type="file" name="logo" id="logo"/> 
            <!-- id="providerLogo" accept="image/*" class="file-input"  -->
            <input type="submit" class="btn" value="ADD">
          </form>



        </div>
      </div>
    </section>
    <script src="/js/adminDashboard.js"></script>


</body>

</html>

