<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>JADWA</title>
  <link rel="stylesheet" href="../../css/form.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <script>
    function validate() {
      if (document.getElementById('result').innerHTML.includes('taken'))
        return false;
      else
        return true;
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Assuming you have included the necessary jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



</head>

<body>
  <div class="container">
    <header>Application Form</header>
    <div class="progress-bar">
      <div class="step">
        <p>Name</p>
        <div class="bullet">
          <span>1</span>
        </div>
        <div class="check fas fa-check"></div>
      </div>
      <div class="step">
        <p>Contact</p>
        <div class="bullet">
          <span>2</span>
        </div>
        <div class="check fas fa-check"></div>
      </div>
      <div class="step">
        <p>Birth</p>
        <div class="bullet">
          <span>3</span>
        </div>
        <div class="check fas fa-check"></div>
      </div>

    </div>
    <div class="form-outer">

      <% if (SRC="car" ){ %>
        <form action="/form-1" method='post'>

          <% } else if (SRC="life" ) {%>
            <form action="/form-2" method='post'>
              <%} else {%>
                <form action="/form-2" method='post'>
                  <%}%>

                    
                      <div class="page slide-page">
                        <div class="title">Basic Info:</div>
                        <div class="field">
                          <div class="label">First Name</div>
                          <input type="text" id="fn" name="Fname" required>
                          <i class="fas fa-exclamation-circle failure-icon"></i>
                          <i class="far fa-check-circle success-icon"></i><br>
                        </div>
                        <div class="error"></div>
                        <div class="field">
                          <div class="label">Last Name</div>
                          <input type="text" id="ln" name="Lname" required>
                          <i class="fas fa-exclamation-circle failure-icon"></i>
                          <i class="far fa-check-circle success-icon"></i>
                        </div>
                        <div class="error"></div>
                        <div class="field">
                          <button class="firstNext next">Next</button>
                        </div>
                      </div>
                      <div class="page">
                        <div class="title">Contact Info:</div>
                        <div class="field">
                          <div class="label">Email Address</div>
                          <input type="text" id="mail" name="Email" required>
                          <span id="email-error"></span>
                          <i class="fas fa-exclamation-circle failure-icon"></i>
                          <i class="far fa-check-circle success-icon"></i>
                        </div>
                        <div class="error"></div>
                        <div class="field">
                          <div class="label">Phone Number</div>
                          <input type="number" id="phone" name="phone" required>
                          <i class="fas fa-exclamation-circle failure-icon"></i>
                          <i class="far fa-check-circle success-icon"></i>
                        </div>
                        <div class="error"><span id="mailerr"></span> </div>
                        <div class="field btns">
                          <button class="prev-1 prev">Previous</button>
                          <button id="next1btn" class="next-1 next">Next</button>
                        </div>
                      </div>
                      <div class="page">
                        <div class="title">Date of Birth:</div>
                        <div class="field">
                          <div class="label">Age</div>
                          <input type="number" id="dob" name="dob" required>
                          <i class="fas fa-exclamation-circle failure-icon"></i>
                          <i class="far fa-check-circle success-icon"></i>
                        </div>
                        <div class="error"></div>
                        <div class="field">
                          <div class="label">Gender</div>
                          <select name="option" id="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                          </select>
                        </div>
                        <div class="field btns">
                          <button class="prev-2 prev">Previous</button>
                          <button class="submit">Submit</button>
                        </div>
                      </div>
                    </form>
    </div>
  </div>
  <script src="../js/form.js"></script>




</body>

</html>